@import "media-utils";

.menu-item {
  color: black;
  font-family: Helvetica;
}

.menu-item-active {
  border: 1px solid red;
  color: red;
  padding: 5px;
}

.menu-item-active:not(::first-child),
.menu-item-active:not(::last-child) {
  margin: 5px 0;
}
.menu-item-active:first-child {
  margin-bottom: 5px;
}
.menu-item-active:last-child {
  margin-top: 5px;
}

#menu {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: fixed;
  right: 10px;
  top: 10px;
  width: max-content;
  height: max-content;
}

@include media("<=1350px") {
  #menu {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
